<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
        <nav id="menu" class="navbar navbar-expand-lg navbar-dark bg-exodia btn-outline-white">

            <a class="navbar-brand nav-link-white" href="/"  th:text="${company}">Екском ЕООД</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between " id="navbarNav">
                <ul class="navbar-nav">
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/"><strong>Начало</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/login"><strong>Вход</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/invoices"><strong>Фактури</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active" href="/logout">Изход</a>
                    </li>
                </ul>
            </div>
        </nav>
</header>