.bg-exodia {
    background-color: #191970;
}

.text-exodia {
    color: #191970;
}

.hr-2 {
    height: 2px;
}

textarea {
    resize: none;
}

#menu {
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #800000, #cc0000);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
    min-height: 40px;

}