<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Система за фактури</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<hr class="bg-exodia hr-2"/>
<h4 class="text-center text-exodia">Система за фактури</h4>
<hr class="bg-exodia hr-2"/>

<div class="justify-content-center borderless px-md-5">
    <div>Електронни фактури за контрагентите на ФИРМА ЕООД</div>
    <div>Тук може да проверите всички издадени фактури към фирмата си</div>
    <div>Достъпа се осъществява чрез Email и Парола, които може да получите след предварителна проверка и активация на акаунта ви от наша страна.</div>
    <div>Ако сте наш клиент може да се свържете се с нас, за да активираме достъп до системата</div>


</div>
</body>
</html>