<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoices</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<hr class="bg-exodia hr-2"/>
<h1 class="text-center text-exodia">Invoices</h1>
<hr class="bg-exodia hr-2"/>

<div class="row justify-content-center">
    <div class="col-auto">
        <table class="text-center table table-responsive">
            <tr>
                <th>Отвори</th>
                <th>Фактура No</th>
                <th>Дата</th>
                <th>Стойност с ДДС</th>
            </tr>
            <tr th:each="message : ${messages}">
                <td><a th:href="@{/invoices/} + ${message.getInvoiceAcct()}" th:text="Open">Download</a></td>
                <td th:text="${message.getInvoiceAcct()}">1</td>
                <td><a href="#" th:text="${#dates.format(message.getInvoiceDate(), 'dd-MM-yyy')}">Title ...</a></td>
                <td th:text="${#numbers.formatDecimal(message.getInvoiceSum(), 0, 'COMMA', 2, 'POINT')}">Text ...</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>