<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Фактури - Списък</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/invoices.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<hr class="bg-secondary hr-1"/>

<!--Invoice Basic Info with Thymeleaf-->
<!--<h4 id="invoice-number-id" class="text-center text-black-100" th:text="'Фактура ' + ${invoiceBasicInfo.getInvoiceAcct()} + ' от ' + ${#dates.format(invoiceBasicInfo.getinvoiceDate(),'dd.MM.yyy')}">Продукти</h4>-->
<!--<div class="row justify-content-center" th:text="'Обща стойност ' + ${#numbers.formatDecimal(invoiceBasicInfo.getInvoiceSum(), 1, 'DEFAULT', 2, 'POINT') + ' лв.'}"></div>-->
<!--<div class="row justify-content-center mt-1"><a th:target="_blank" th:href="@{/pdfreport/} + ${invoiceBasicInfo.getInvoiceAcct()}" >Свали в PDF <img th:src="@{../images/pdf.png}" th:width="25px" th:height="25px" th:title="Свали"/></a></div>-->

<div >
    <div><h4 id="invoice-info" class="text-center text-black-100" text="'Фактура'">Продукти</h4></div>
    <div id="invoice-info-sum"class="row justify-content-center" text="'Обща стойност ' + ' лв.'"></div>
    <div class="row justify-content-center mt-1"><a id="invoice-pdf-link" target="_blank" href="/pdfreport/" >Свали в PDF <img src="../images/pdf.png" width="25px" height="25px" title="Свали"/></a></div>
    <div class="row justify-content-center mt-1"><a href="/invoices"><img src="/images/back-btn.png" alt="Назад" width="30" height="30"></a></div>
</div>
<hr class="bg-secondary hr-1"/>



<div class="row justify-content-center">
    <div class="col-auto">
        <table class="text-center table table-responsive">
            <tr>
                <th>Код</th>
                <th>Продукт</th>
                <th>Брой</th>
                <th>Цена в лв. без ДДС</th>
                <th>Общо без ДДС</th>
            </tr>
            <tbody id="invoice-details-table"></tbody>
<!--            <tr th:each="details,iterStat : ${invoiceDetails}">-->
<!--                <td th:text="${iterStat.index+1}">1</td>-->
<!--                <td th:text="${details.getCode()}">1</td>-->
<!--                <td th:text="${details.getName()}">Title .../td>-->
<!--                <td th:text="${details.getQtty()}">Text ...</td>-->
<!--                <td th:text="${#numbers.formatDecimal(details.getPrice(), 1, 'COMMA', 4, 'POINT')}">Title .../td>-->

<!--            </tr>-->
        </table>
    </div>

</div>
<th:block th:include="~{fragments/loader}" />
<script src="/js/invoice_details.js" ></script>

</body>
</html>