<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/reset-css.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
    <main class="mt-3">
        <hr class="bg-secondary hr-1"/>
        <h1 class="text-center text-black-100">Вход</h1>
        <hr class="bg-secondary w-25 hr-1"/>
        <form class="mx-auto w-25" th:method="post" th:action="@{/login}">
            <div class="form-group">
                <label for="username" class="text-black-100">Потребител</label>
                <input type="text" class="form-control" id="username" placeholder="Потребител..." name="username">
            </div>
            <div class="form-group">
                <label for="password" class="text-black-100">Парола</label>
                <input type="password" class="form-control" id="password" placeholder="Парола..." name="password">
            </div>
            <hr class="bg-secondary hr-1"/>
            <div class="button-holder d-flex justify-content-center">
                <button type="submit" class="btn bg-pesho text-white">Продължи</button>
            </div>
        </form>
        <hr class="bg-secondary hr-1 mt-5"/>
    </main>
</body>
</html>